.category-button {
  width: 125px;
  height: 35px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.category-button.enabled {
  background: #FFFFFF;
  border-radius: 4px;
  font-weight: bolder;
}

.category-button.enabled>.category-button-text {
  color: #32126D;
}
