.navigation-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 15vw;
  height: 100vh;
  background: #32126D;
  gap: 3vh;
}

/* Logo */

.logo {
  width: 120px;
  height: 85px;
  margin: 3vh;
}

/* Categories Menu */

.categories-menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 22px;
  gap: 2vh;
}

.category-button {
  width: 125px;
  height: 35px;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.category-button.enabled {
  background: #FFFFFF;
  border-radius: 4px;
}

.category-button.enabled>.category-button-text {
  color: #32126D;
}

/* Streamer Card */

.streamer-card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #FFFFFF;
}

.streamer-card-username {
  margin: 2px;
  font-size: 1.5vh;
}

.streamer-card-views-count {
  margin: 2px;
  font-size: 1.1vh;
  font-weight: bold;
}

.streamer-profile-img {
  border: 0.348664px solid #32126D;
  border-radius: 20px;
}

.streamer-card-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.streamer-card-user-status   {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.streamer-card-views {
  display: flex;
  flex-direction: row;
  align-items: center;
}